<div>
    <div ng-hide="todo.personalCount < 1" class="panel panel-default">
        <div class="panel-heading">
            <h4><b>Personal</b></h4>
        </div>
        <ul class="list-group" ng-repeat="personal in todo.list | filter: personal.type='personal' | filter: personal.read='false'">
            <li class="list-group-item">
                <a href="#" ng-click="todo.markedAsRead(personal)">
                    <i class="fa fa-exclamation-circle red-text"></i> <strong>{{personal.todo}}</strong>
                </a>
            </li>
        </ul>
    </div>

    <div ng-hide="todo.facultyCount < 1" class="panel panel-default">
        <div class="panel-heading">
            <h4><b>Faculty Registered</b></h4>
        </div>
        <ul class="list-group" ng-repeat="fac in todo.list | filter: fac.type='faculty' | filter: fac.read='false'">
            <li class="list-group-item">
                <a href="#" ng-click="todo.markedAsRead(fac)">
                    <i class="fa fa-exclamation-circle red-text"></i> <strong>{{fac.todo}}</strong>
                </a>
            </li>
        </ul>
    </div>

    <div ng-hide="todo.studentCount < 1" class="panel panel-default">
        <div class="panel-heading">
            <h4><b>Student Applications</b></h4>
        </div>
        <ul class="list-group" ng-repeat="app in todo.list | filter: app.type='student' | filter: app.read='false'">
            <li class="list-group-item">
                <a href="#" ng-click="todo.markedAsRead(app)">
                    <i class="fa fa-exclamation-circle red-text"></i> <strong>{{app.todo}}</strong>
                </a>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><b>Read</b></div>
        <ul class="list-group" ng-repeat="read in todo.list | filter: app.read='true'">
            <li class="list-group-item">
                <p style="margin-bottom:0">{{read.todo}}</p>
            </li>
        </ul>
    </div>
</div>
