body {
	margin: 10px;
}

.header-logo {
	max-width: 300px;
	padding: 10px;
}

.footer{
	height: 220px;
	background:#002958;
	z-index: -110;

}
.footer p{
	color: #f2f2f2;
	column-count: 2;
	column-gap: 50px;
	font-size: 1em;
	font-weight: 300;
}

.title-box {
	border: 1px solid #cccccc;
	border-radius: 7px;
	background-color: #e0ecfa;
	padding: 17px;
	display: table-cell;
	font-weight: bold;
}

.navbar {
	background-color: #234264;
}

.navbar li a {
	color: #fff;
    font-weight: bold;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: #137cb8;
}

.navbar-collapse {
	padding: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-nav {
	margin: 0px;
}
.peerTable {
	float: right;
	border-radius: 6px;
	border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #666; /* this draws the table border  */

}

.peerTable td, th {
	padding: 19px;
}

.fiuColor {
	background-color: #dce9f9;
    text-align: center;
	vertical-align: middle;
}
