<div>
    <h2>Project Proposal Form</h2>
    <form role="form" ng-submit="project.save()">
        <div class="form-group">
            <label>*Project Title:</label>
            <input type="text" class="form-control" placeholder="" ng-model="project.title" required="True">
        </div>
        <div class="form-group">
            <label>*Project Description:</label>
            <textarea class="form-control" rows="5" ng-model="project.description" required="True"></textarea>
            <!--<input type="text" class="form-control" placeholder="" ng-model="project.description" required="True"type="text"><!-->
        </div>
        <div class="form-group">
            <label>*Disciplines (Must be multi-disciplinary):</label>
            <input type="text" class="form-control" placeholder="" ng-model="project.disciplines" required="True">
        </div>
        <div class="form-group">
            <label>*Number of students for first semester:</label>
            <input type="number" class="form-control" placeholder="" ng-model="project.minStudents" required="True">
        </div>
        <div class="form-group">
            <label>*Maximum number of students per semester:</label>
            <input type="number" class="form-control" placeholder="" ng-model="project.maxStudents" required="True">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Should discplines should be checkboxes?</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>
        <br>
        <p><strong>* : required fields</strong></p>
    </form>
</div>