<div>
	<form ng-submit="user.save()">
		<label class="col-sm-2 control-label">First Name</label>
		<div class="col-sm-10 form-group">
			<p ng-hide="user.editorEnabled">{{user.mockData[0].firstName}}</p>
			<input ng-show="user.editorEnabled" type="text" ng-model="user.firstName" class="form-control" Required="True">
		</div>

		<label class="col-sm-2 control-label">Last Name</label>
		<div class="col-sm-10 form-group">
			<p ng-hide="user.editorEnabled">{{user.mockData[0].lastName}}</p>
			<input ng-show="user.editorEnabled" type="text" ng-model="user.lastName" class="form-control" Required="True">
		</div>

		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10 form-group">
			<p ng-hide="user.editorEnabled">{{user.mockData[0].email}}</p>
			<input ng-show="user.editorEnabled" type="text" ng-model="user.email" class="form-control" Required="True">
		</div>

		<div ng-hide="user.editorEnabled">
			<button type="button" class="btn btn-default" ng-click="user.enableEditor()">Edit Information</button>
		</div>
		<div ng-show="user.editorEnabled">
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-default" ng-click="user.disableEditor()">Cancel</button>
		</div>
	</form>
</div>
