<div>

    <p>
        <strong>Confirm that your data is up-to-date</strong> <br/><br/><br/>

    </p>
    <form name="ProjectApplication" ng-submit= "projApp.save()" >

        <label class="col-sm-2 control-label">Semester</label>
        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.semester" ng-options=" semester for semester in projApp.semesters" class="form-control" Required="True" >
            </select>
        </div>

        <label class="col-sm-2 control-label">Project Selected</label>
        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.selectedProject" ng-options="p as p.name for p in projApp.mockProjects" class="form-control" Required="True" >
            </select>
        </div>

        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10 form-group">
            <input type="text" ng-model="projApp.firstName" class="form-control" Required="True">
        </div>

        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10 form-group">
            <input  type="text" ng-model="projApp.lastName" class="form-control" Required="True">
        </div>

        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10 form-group">
            <input type="text" ng-model="projApp.email" class="form-control" Required="True">
        </div>

        <label class="col-sm-2 control-label">Panther ID</label>

        <div class="col-sm-10 form-group">
            <input type="text" ng-model="projApp.pID" class="form-control" Required="True">
        </div>

        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.gender" ng-options=" gender for gender in projApp.genders" class="form-control" Required="True" >
            </select>
        </div>


        <label class="col-sm-2 control-label">Rank</label>

        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.rank" ng-options=" rank for rank in projApp.ranks" class="form-control" Required="True" >
            </select>
        </div>

        <label class="col-sm-2 control-label">College</label>
        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.selectedCollege" ng-options="college as college.name for college in projApp.mockColleges" class="form-control" Required="True" >
            </select>
        </div>

        <label class="col-sm-2 control-label">School</label>
        <div class="col-sm-10 form-group">
            <select  ng-model="projApp.school" ng-options=" school for school in projApp.selectedCollege.schools" class="form-control" Required="True" >
                <option>-- Select a School --</option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" ng-disabled="ProjectApplication.$invalid">Save & Submit</button>
            <button type="button" class="btn btn-default" ng-click="">Cancel</button>
        </div>
    </form>

    <p>
        <br/><br/><br/>

    </p>
</div>